<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/style_showall.css}" rel="stylesheet"/>
<head>
    <title>Information about user</title>
</head>
<body>
<table>
    <caption>About User</caption>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${user.getId()}">Id</td>
    <td th:text="${user.getUsername()}">Id</td>
    <td th:text="${user.getAge()}">Id</td>
    <td th:text="${user.getEmail()}">Id</td>
    <td th:text="${user.getRoles()}">Id</td>

    </tr>
    </tbody>
</table>

<form th:method="POST" th:action="@{/logout}" th:align="left">
    <input type="submit" value="Logout"/>
</form>


</body>
</html>